version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lostfound
    ports:
      - "5432:5432"

  app:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/lostfound
    ports:
      - "5001:5000"
    depends_on:
      - db